In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("bestsellers with categories.csv")
print(df.shape)
print(df.columns)

(550, 7)
Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [7]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

Are User Rating and Reviews have relations?
Does really price affect reviews?
is  there statistically different between Fiction and non fiction in terms of Reviews, User Rating,Price?
Ä°s there are significantly change between year and reviews

In [9]:
df.shape

(550, 7)

In [14]:
df2=pd.read_html("https://en.wikipedia.org/wiki/List_of_novelists_by_nationality")
df2[1]

,vteLists of writers,vteLists of writers.1
0,By language,Afrikaans Albanian Arabic Armenian Assamese Be...
1,By nationality or culture,Afghan American Argentine Australian Austrian ...
2,By type,Anarchist Feminist Lyric Military Modernist Na...